body{
    margin: 0;
    padding:0;
    background: url(1.jpg);
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    text-decoration-color: white;
}

.DotaLogo{text-decoration: none;color: white;font-size: 20px;
    padding: 13px 1000px;
    display: block;
    border-right: 1px solid darkgrey;
   
    padding-left: 300px
}
.DotaLogo:hover{
    background: white;
}
*{
  margin: 0;  
padding: 0;
  }
.wrapper{
    width: 100%;
    margin: 0 auto;
    color: white;
}
.menu_bar{
    margin-top: 20x;
    background-color: rgba(0,0,0,0.5);
    min-height: 50px;
}
.menu_bar ul{list-style: none;
}
.menu_bar ul li{float: left;
position: relative;
    

}

.menu_bar ul li a{text-decoration: none;color: white;font-size: 20px;
    padding: 13px 60px;
    display: block;
 border-right: 1px solid darkgrey;
/*    transition: 1s;*/
   

}
.menu_bar ul li:last-child a{
    border-right: none;
}
.menu_bar ul li a:hover{
/*    background-color: silver;*/
    transform: scale(1.1);
    color: white;
    
}
/* Dropdown Style */
.menu_bar ul li ul{
    background-color: rgba(0,0,0,0.5);
    min-height: 245px; 
    position: absolute;
    left: -999999999px;
/*    transition: 1s;*/
   
}
.menu_bar ul li:hover ul{
    left: 0;
}

.menu_bar ul li ul li{
    clear: both;
}
.menu_bar ul li ul li a{
    border-right: none;
    width: 155px;
    padding: 13px 60px;
}
.menubar_ ul li ul li a :hover{
    
}
.shanki{
    color: white;
}
.containerz{
    color: white;
}
.imggal{
    color: white;
}
.slider_contentz{
    color: white;
}
.modal-title{
    color: black;
}
.modal-body{
    color: black;
}